.header {
    background-color: #4a3b6e; 
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(74, 59, 110, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 1000;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #d8b3e5; 
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #d8b3e5;
}

.highlight-name {
    --purple-hue: #d8b3e5; 
    --darker-purple: #6a4c93;

    border: 2px solid var(--purple-hue);
    padding: 0 8px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    color: var(--purple-hue);
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
}

.highlight-name:hover {
    background-color: var(--darker-purple);
    color: white;
    box-shadow: 0 0 15px rgba(216, 179, 229, 0.8);
    transform: translateY(-2px);
}